body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(45deg, #3a6eab, #759fd6, #3a6eab);
    color: white;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
}

#waiting-screen {
    text-align: center;
}

#waiting-message {
    font-size: 1.8em;
    margin-bottom: 20px;
}

#error-message {
    font-size: 0.8em;
    color: red;
    margin-top: 20px;
}

#current-time {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

#employee-info {
    text-align: center;
    background-color: rgba(40, 74, 115, 0.3);
    padding: 20px;
    border-radius: 10px;
}

.info-row {
    margin: 10px 0;
}

.info-row span {
    font-weight: bold;
}

.hidden {
    display: none;
}

.active {
    color: #00cb00;
}

.inactive {
    color: red;
}