body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(45deg, #3a6eab, #759fd6, #3a6eab);
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#waiting-screen {
    text-align: center;
}

#waiting-message {
    font-size: 2em;
    margin-bottom: 20px;
}

#error-message {
    font-size: 0.8em;
    color: red;
    margin-top: 20px;
}

#current-time {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

#employee-info {
    text-align: center;
    background-color: rgb(40, 74, 115);
    padding: 20px;
    border-radius: 10px;
}

.info-row {
    margin: 10px 0;
}

.info-row span {
    font-weight: bold;
}

.hidden {
    display: none;
}

.active {
    color: green;
}

.inactive {
    color: red;
}